<div class="main-container">
    <h1>Welcome to the Complaint Voting System</h1>
    <nav>
      <ul>
        <li><a routerLink="/voting">Voting</a></li>
        <li><a routerLink="/complaints">Submit Complaint</a></li>
        <li><a routerLink="/feedback">Feedback</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/emergency-contacts">Emergency Contacts</a></li>
        <li><a routerLink="/solved-complaints">Solved Complaints</a></li>
      </ul>
    </nav>
  </div>
  